.footer {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-copyright {
    font-size: 1em;
    padding-left: 42px;
  }
  footer .footer-copyright .copyright {
    padding-right: 2px;
    position: relative;
    bottom: 2px;
    font-size: 0.8em;
  }
  footer .footer-copyright .copyright-logo {
    display: none;
  }
  footer .footer-mail {
    font-size: 1em;
    padding-right: 60px;
  }
  footer .footer-mail a {
    text-decoration: none;
  }
  footer .footer-mail a .footer-mail-icon {
    display: none;
  }
  footer .arrow-up {
    background-color: rgba(34, 34, 34, 0.6);
    cursor: pointer;
    display: none;
    border: 1px solid #fff;
    border-radius: 50px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    transition: 1s;
    -webkit-animation: scrollTopAppear 0.5s ease-in-out;
    animation: scrollTopAppear 0.5s ease-in-out;
  }
  footer .arrow-up .fa-chevron-up {
    color: #fff;
    font-size: 1em;
    padding: 0;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin: 10px 3px;
  }